.bankTotal {
  font-weight: bold;
  font-size: x-large;
}

.list {
  list-style: none;
}

.transactionDetails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.back {
  background-color: rgb(40, 134, 40);
  outline: 2px solid white;
  margin: 10px;
  color: white;
}

li {
  border-bottom: 1px solid ghostwhite;
  margin-bottom: 10px;
}
